*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    min-height: 80vh;
    width: 80%;
    padding: 50px;
    background: linear-gradient(to right ,#eb7aa3,#7adfef);
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5),-5px -5px 5px rgba(0,0,0,.5);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 60px;
    color: rgb(44, 117, 141);
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    letter-spacing: 3px;

    
    text-align: center;
   
}
.form{
    min-width:50%;
    min-height: 50vh;
    color: azure;
}
label{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    font-weight: 500;
    padding-left: 20px;
}
button{
   
    margin: 3% auto;
    display: block;
    align-items: center;
    padding: 5px 80px;
    border-radius: 30px;
    background-color:rgba(255,255,255,0.6);
    width: 50%;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
input{
    padding: 10px;
    border-radius: 5px;
    margin: 5% auto;
}